/* Página de login */

body {
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    background: #262626 url(img/bg.png) no-repeat top center;
}

#container {
	width: 408px;
	height: 408px;
	background-color: #2D2D2D;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin: 0 auto;
	margin-top: 100px;
	text-align: center;
}

#container img {
    width: 120px;
    height: 120px;
    margin-top: -60px;
    margin-bottom: 30px;
}

#container2 {
    padding-top: 90px;
}

input {
    height: 40px;
    width: 80%;
    font-size: 18px;
    margin-bottom: 10px;
    background-color: #fff;
    color: white;
    padding-left: 40px;
    border: none;
    background-repeat: no-repeat;
    background-position: 10px;
    display: inline;
}

input.radio {
    padding-left: 150px;
    width: auto;
}

label.infos {
    padding-left: 20px;
    text-align: left;
    display: flex;
    cursor: pointer;
}

span {
    padding-left: 5px;
    color: #F56161;
}

input.email {
    background-color: #262626;
}

input.senha {
    background-color: #262626;
}

input.submit {
    color: #fff;
    background-color: #8370F5;
    border: 2px solid #8370F5;
    padding: 5px 20px;
    height: 50px;
    width: 408px;
    border-radius: 0px 0px 4px 4px;

    background: -webkit-linear-gradient(to bottom, #8370F5, #8370F5);
    background: -moz-linear-gradient(to bottom, #8370F5, #8370F5);
    background: -o-linear-gradient(to bottom, #8370F5, #8370F5);
    background: linear-gradient(to bottom, #8370F5, #8370F5);
}

input#sim.radio {
    float: left;
    margin: 0;
}

div.lembrar {
    display: flex;
    justify-content: left;
}

span.texto {
    line-height: 40px;
}

label {
    font-size: 10px;
    padding-left: 19px;
    padding-bottom: 8px;
}

p {
    font-size: 15px;
}

#cadastro {
    font-size: 15px;
    color: #8370F5;
}

a {
    color: inherit;
}

a:hover {
    text-decoration: none;
}

.texto {
    color: white;
}